@font-face {
    font-family: 'Quadrat Grotesk New';
    src: url('./fonts/QuadratGroteskNewW03-Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    /* font-size: 1.2rem; */
    line-height: 1.5;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Montserrat", "Quadrat Grotesk New", sans-serif, sans-serif;
    color: #fff;
    background-color: #040404;
    /* background-image: url('assets/img/memorialSection.png'); */
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: 350px;
}

h1 {
    font-weight: normal;
}

.heroesList {
    background-color: #040404;
}
.heroesList__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroesList__top {
    width: 100%;
}
.heroesList__title {
    text-align: center;
    margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .heroesList__title {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1440px) {
    .heroesList__title {
        margin-bottom: 0;
    }
}

.section__title {
    display: block;
    margin-bottom: 19px;
    font-family: "Quadrat Grotesk New", sans-serif;
    font-size: 28px;
    line-height: 1.25;
    color: #fff;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .section__title {
        margin-bottom: 25px;
        font-size: 48px;
        line-height: 1.15;
    }
}
@media screen and (min-width: 1024px) {
    .section__title {
        font-size: 52px;
    }
}
@media screen and (min-width: 1440px) {
    .section__title {
        margin-bottom: 20px;
        font-size: 64px;
    }
}
@media screen and (min-width: 1920px) {
    .section__title {
        font-size: 72px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

input,
button {
    font: inherit;
    border-radius: 0;
    border-color: transparent;
}

a {
    text-decoration: none;
}
a:focus {
    outline: none;
}

input::-ms-clear {
    display: none;
}

@keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.no-print,
.hidden-block {
    display: none !important;
}

.container {
    margin: 0 auto;
    width: calc(100% - 40px);
}
@media screen and (min-width: 768px) {
    .container {
        width: calc(100% - 70px);
    }
}
@media screen and (min-width: 1024px) {
    .container {
        width: calc(100% - 95px);
    }
}
@media screen and (min-width: 1440px) {
    .container {
        width: calc(100% - 162px);
    }
}
@media screen and (min-width: 1920px) {
    .container {
        width: calc(100% - 160px);
    }
}

.container--offset {
    padding-top: 60px;
}
/* @media screen and (min-width: 768px) {
    .container--offset {
        padding-top: 172px;
    } */
}
@media screen and (min-width: 1024px) {
    .container--offset {
        padding-top: 110px;
    }
}
@media screen and (min-width: 1440px) {
    .container--offset {
        padding-top: 195px;
    }
}

.buttonBack {
    position: absolute;
    top: 60px;
    
    z-index:10;
    cursor: pointer;
    width: 26px;

}

.layer {
    width: 90vw;
    height: 60vh;
    padding: 5px;
    /* background-color:rgba(255, 255, 255, 0.1); */
}

.row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

@media (max-width: 540px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100% !important;
        text-align: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }

    svg {
        width: 100%;
        margin: auto;
    }

    .buttonBack {
        /* position: relative; */
        left: 15px;
        /* top: 0; */
    }
}

.col {
    width: 50%;
}

.pathMemorial {
    width: 100%;
}

.postament {
    width: 100% !important;
}

.burialPlace {
    text-align: center;
    margin: 15px auto;
    font-size: 1.2rem;
}

.battle {
    font-family: "Quadrat Grotesk New", sans-serif;
    font-size: 2rem;
    padding-top: 25px;
    text-align: center;
}

.battle_postament-number {
    font-size: 1.5rem;
    color: #F5C596;
    padding-top: 5px;
}

.battle_postament-grid-coordination {
    font-size: 1rem;
    padding-top: 5px;

}

.pagination {
    display: none;
    height: 60px;
    width: 100%;
    list-style: none;
    margin: 30px 0;
    padding-left: 0;
}

.pagination.show {
    display: block;
}

.pagination .mCSB_container{
    display: flex;
}

ul.pagination .mCSB_container li {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination .mCSB_container li.active {
    background-color: white;
    color: black;
    border-radius: 50%;
}

ul.pagination .mCSB_container li:hover {
    cursor: pointer;
}

#resp-box .mCSB_container > div {
    padding: 5px;
}

#resp-box .mCSB_container > div:hover {
    background-color: rgba(255,255,255,.1);
    transition: all .3s;
    cursor: pointer;
}

.step-2 {
    padding: 50px;
}

.step-2 > ul {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.step-2 > ul li {
    width: calc(30% - 20px);
    margin: 10px;
    padding: 15px;
    font-size: 1.3vw;
}

@media all and (max-width: 540px) {
    .step-2 > ul {
        padding-inline-start: 0;
    }
    .step-2 > ul li {
        width: 100%;
        font-size: 3.3vw;
    }
    .battle {
        font-size: 1.5rem;
    }
}

.postament__grid {
    width: 100%;
    margin: 20px 0;
    position: absolute;
    top: 15%;
    left: -4%;
    transform: scale(0.5);
}

.postament__grid .line {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.postament__grid > div > div {
    width: calc( (100% / 14) - ( (100% / 14) / 11) );
    margin-bottom: 3px;
    background-color: rgb(68, 57, 52);
    position: relative;
}

.postament__grid > div > div:after {
    width: 5px;
    height: 5px;
    background-color: black;
    position: absolute;
    z-index: 100;
}

svg {
    /*position: absolute;*/
    width: 100%;
}

.step-2 ul li {
    border: 1px solid rgba(255,255,255,0.3);
}

.step-2 ul li:hover {
    background-color: rgba(255,255,255,0.1);
    transition: all 0.4s;
    transform: scale(1.03);
    cursor: pointer;
}

.step-3 .col .col__el {
    position: absolute;
}

.item-person {
    display: flex;
    flex-direction: row;
}

.item-person.active {
    background-color: #525050;
    font-weight: bold;
}

.person-info {
    text-align: center;
    width: 50vw;
}

.get-burial > div {
    text-align: center;
}

.mCSB_container {
    margin: 0 15px;
}

.text-error {
    font-size: 18px;
    color: #838383;
    padding: 15px;
    text-align: center;
}

.text-empty {
    font-size: 18px;
    color: white;
    padding: 15px;
    text-align: center;
}



@media screen and (max-width: 420px) {
    .item-person .person-info-rank {
        display: none;
    }
    .item-person .person-info {
        width: 100%;
    }
}

#resp-box {
    display: none;
    overflow: hidden;
    position: relative;
}

#resp-box.show {
    display: block;
    height: 400px;
}

.search-container {
    width: 50%;
    margin: 10px auto;
}

@media (max-width: 540px) {
    .search-container {
        width: 100%;
        margin: 10px auto;
    }
}

.search-container input {
    width: 100%;
    background: transparent;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    padding-top: 20vh;
    padding-bottom: 20px;
    border-bottom: 0;
    text-align: center;
}

.suggestions {
    border-top: 2px solid #999;
    height: 40vh;
    overflow-y: scroll;
}

.suggestions > div {
    padding: 15px;
    font-size: 20px;
    color: #fff;
    border-top: 1px solid #666;
    cursor: pointer;
}

.suggestions > div:hover {
    background-color: #6b6b6b;
}

.emphy {
    width: 50%;
    margin: 40px auto;
    text-align: center;
    color: #fff;
}

@media (max-width: 540px) {
    #input-search {
        font-size: 11px;
    }

    /* .column-2 {
        order: -1;
    } */
}

.solders-name-list {
    text-align: center;
    margin-bottom: 10px;
}

.postament-image {
    width: 40vw;
    height: 30vh;
    margin: 15px auto;
    bottom: 20px;
}

@media (max-width: 540px) {
    .postament-image {
        height: 60vh;
        width: 50vw;
    }
}

.go-to-step-2 {
    display: flex;
    flex-direction: row;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.center {
    margin: 0 auto;
}